<section id="about">
     <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
        </header>

        <div class="row one">
			<div class="col-lg-6">
				<h4 class="heading">Open Education for All</h4>
              <p>We are designed to help beginner programmers who want to learn web development technologies, or start a career in website development.
We respect your curiosity and passion for learning new things, that's why even though the tutorials are absolutely free, we're always striving hard for publishing the contents as comprehensive as possible without compromising the quality. We simply don't write tutorials just for increasing the page views and once you start learning, soon you'll realize that. 
The cost of running and maintaining this website is covered by the revenue generated through advertisements, but we will always try to keep the number of ads as low as possible.</p>
            </div>

			<div class="col-lg-6">
            <img src="img/about-img.svg" class="img-fluid" alt="">
			</div>
        </div>

        <div class="row two">
			<div class="col-lg-6">
            <img src="https://raw.githubusercontent.com/asthasamaiya/abhi-bootstrap/master/images.png" class="img-fluid" alt="">
			</div>
          
			<div class="col-lg-6">
				<h4 class="title">Help Us to Correct Errors</h4>
				<p>We care about quality content and are working hard to make this website as relevant, useful and accurate as possible for you, but mistakes do happen.?If you find any grammatical error, broken link or any error in the code, we highly appreciate it, if you would inform us. 
				Please use the link REPORT ERROR at the bottom of every page to send your findings.
				</p>
			</div>
        </div>

      </div>    
    
</section>