
.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 600;
  padding:10px 0px;
}


.one, .two {
	margin: 50px 0 50px 0;
	padding:10px 0px;
}


h4{
  color: #333;
  font-weight: 700;
  font-size: 32px;
  line-height: 26px;
  text-align:left;
  
  
}


p{
  color: #333;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align:justify;
  padding:10px 0px;
  
}

.img-fluid{
	
  width: 70%;
  float: right;
 
}


